@page
@using EmployeeApp.Components; 
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Employee App</h1>

</div>

@(await Html.RenderComponentAsync<EmployeeDetails>(RenderMode.ServerPrerendered))
    

<script src="_framework/blzor.server.js"></script>
